html
    head
        link(rel="stylesheet", href="../../static/css/common.css")
        <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
        block css 
    body
        .home
            .content-left
                block content-left

            .content
                block content

            .content-right
                block content-right
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    